@import "variables";
@import "mixins";
@import "_components/search-form";
@import "_components/nav-bar";
@import "_components/footer";
@import "_components/header";
@import "_components/_formulaire_contact";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color:$color_primaire;
    @include desktopView($breackpoint) {
        background-color: #00C2DB;
    }
}

p {
    color:red;
}
.sidebar{
    background: $color_primaire_fonce;
    padding: 1rem;
}